ENV=development
PORT=8082

LOG_LEVEL=debug
LOG_FORMAT=json
LOG_ADD_SOURCE=false

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=finance
DB_SLOW_THRESHOLD=200ms

OIDC_BASE_URL=http://localhost/api/auth
OIDC_CLIENT_ID=http://localhost
OIDC_CLIENT_SECRET=finance-client-secret

# CORS Configuration
TRUSTED_ORIGINS=http://localhost:3004

SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0

# Kafka
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=finance-server
