NEXT_PUBLIC_API_URL=http://tagaroa.local
NEXT_PUBLIC_DASHBOARD_APP_URL=http://app.tagaroa.local
NEXT_PUBLIC_ALLOWED_REDIRECT_ORIGINS=http://tagaroa.local,http://auth.tagaroa.local,http://admin.tagaroa.local,http://app.tagaroa.local,http://finance.tagaroa.local
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=