apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: {{ minio_namespace }}
type: Opaque
data:
  root-user: {{ minio_root_user | b64encode }}
  root-password: {{ minio_root_password | b64encode }}
  ACCESS_KEY_ID: {{ minio_root_user | b64encode }}
  ACCESS_SECRET_KEY: {{ minio_root_password | b64encode }}
