NEXT_PUBLIC_API_URL=http://tagaroa.local
NEXT_PUBLIC_MAIN_APP_URL=http://tagaroa.local
NEXT_PUBLIC_AUTH_APP_URL=http://auth.tagaroa.local
NEXT_PUBLIC_FINANCE_APP_URL=http://finance.tagaroa.local
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=