apiVersion: v1
kind: Secret
metadata:
  name: pg-secret
  namespace: {{ postgres_namespace }}
type: kubernetes.io/basic-auth
data:
  username: {{ postgres_username | b64encode }}
  password: {{ postgres_password | b64encode }}
