PORT=
BASE_URL=
AUTH_APP_URL=
TRUSTED_ORIGINS=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/auth

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=